$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b285;

$color-grey-dark: #777;
$color-grey-light1: #f7f7f7;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;
