#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul,
#navbar ul li {
  float: none;
}

#navbar ul li {
  padding: 5px;
  border-bottom: #444 dotted 1px;
}

/* Home-Info */
#home-info .info-img {
  height: 550px;
  display: none;
  width: 100%;
}
#home-info .info-content {
  float: none;
  width: 100%;
}

.box {
  float: none;
  width: 100%;
}

/* About Info */

#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}

#about-info .info-right {
  margin-top: 30px;
}

.text-primary {
  text-align: center;
}

/* contact */
#contact-info .box {
  border-bottom: #444 dotted 1px;
  max-width: 70%;
  margin: auto;
}
