:root {
  --primary-color: rgba(13, 110, 139, 0.4);
  --secondary-color: rgba(229, 148, 0, 0.9);
  --overlay-color: rgba(24, 39, 51, 0.6);
  --menu-speed: 0.75s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Robot", sans-</div>serif; */
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3 rem;
}

#showcase {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  /* we are using position as relative because we will be using pseudo selector before to add overlay,  and overlay have to be position absolute, 
  position absolute is relative to its first relative container */
  position: relative;
}

#showcase::before {
  content: "";
  background: url("./pexels-photo-3510394.jpeg") no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

#showcase h1 {
  font-size: 4rem;
}

.btn {
  display: inline-block;
  border: none;
  /* background: var(--secondary-color); */
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: all 1s ease-in-out;
  text-decoration: none;
  /* visibility: hidden; */
}

.btn:hover {
  opacity: 0.7;
}
